@font-face {
    font-family: stratum2;
    font-style: normal;
    font-weight: 1000;
    src: url("./stratum2-medium-webfont.ttf");
}

body {
    background-color: #444442;
    font-family: stratum2;
    background: url('images/header_bg.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 72px;
    color: #000;
    text-align: center;
}

h4 {
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
}

.container {
    padding: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 20px 7px 22px 0px rgba(225, 225, 225, 0.5);
    -moz-box-shadow: 20px 7px 22px 0px rgba(225, 225, 225, 0.5);
    box-shadow: 20px 7px 22px 0px rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(32px);
}

input:not(blank)~label,
input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 1em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.input::placeholder {   
    transition: opacity 1s ease;
    opacity: 0.0;
    /* Set initial opacity */
}

.input:focus::placeholder {
    transition: opacity 1s ease;
    color: #E07F09;
    opacity: 1;
    /* Set opacity when input is focused */
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1.1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}